<div class="col-md-8">
  <h1>生徒管理</h1>

  <%= paginate @user %>
  <div class="table-responsive">
    <table class="table table-hover">
      <tbody>
        <tr>
        <td>氏名</td>
        <td></td>
        <td></td>
        <td></td>
        </tr>
      <% @user.each do |e| %>


        <td><%= e.name %></td>
        <td><%= link_to '登録内容確認' , user_path(e), class:'btn btn-warning btn-sm'%></td>
        <td><%= link_to '指導情報登録',new_result_path(e), class:'btn btn-primary btn-sm' %></td>
        <td><%= link_to '過去の指導情報',result_path(e), class:'btn btn-info btn-sm' %></td>
        </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>
