<h1>指導報告<%= '  ('+ @user.name + 'さん)' %></h1>
<hr>
<%= paginate @result %>

<% @result.each do |e|%>
<div class="panel panel-info">
  <div class="panel-heading">
    <%= e.updated_at.strftime('%Y年%m月%d日') %>
  </div>
  <div class="panel-body">
    <%= e.title %>
    <hr>
    <%= e.content %>
    <% if current_user.admin? %>
      <br><hr>
      <%= link_to '編集', edit_result_path(e),class: 'btn btn-success' %>
      <%= link_to '削除', result_path(e),class: 'btn btn-danger',method: :delete, data: {confirm: '本当に削除しますか？'} %>
    <% end %>

  </div>

</div>
  <% end %>
  <% unless @result.first %>
    指導報告はありません
  <% end %>
