<!DOCTYPE html>
<html>
<head>
  <title>個別指導コミット</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarcommit">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
        <%= link_to '個別指導塾コミット', root_path, class: 'navbar-brand' %>
      </div>


      <div class="collapse navbar-collapse" id="navbarcommit">
  			<ul class="nav navbar-nav navbar-right">
          <% if current_user && current_user.admin? %>
            <li class="navbar-text text-muted" >
              <%= current_user.name + '(管理者)' %>
            </li>
            <li>
              <%= link_to 'お知らせ作成', new_information_path %>
            </li>
            <li>
              <%= link_to '生徒情報', users_path %>
            </li>
          <% elsif current_user %>
            <li class="navbar-text text-muted">
              <%= current_user.name %>
            </li>
          <% end %>
          <% if current_user %>
            <li><%= link_to 'ログアウト', logout_path  %></li>
          <% else %>
            <li><%= link_to 'Googleでサインイン', user_omniauth_authorize_path(:google_oauth2) %></li>
          <% end %>
  			</ul>
  		</div>
    </div>
  </header>


  <div class="container">
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice]%>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert]%>
      </div>
    <% end %>
    <% if current_user %>
    <div class="row">
      <div class="col-md-3">
        <p>
          <%= current_user.name  %>
        </p>
        <ul class="nav nav-pills nav-stacked">
          <li class=" <%= active?("home","information") %> "><%= link_to 'お知らせ', root_path, class: '' %></li>
          <li class=" <%= active?("results") %> "><%= link_to '指導報告', result_path(current_user), class: ''%></li>
          <li class=" <%= active?("users") %> "><%= link_to '登録情報', user_path(current_user) , class: ''%></li>
        </ul>
      </div>
    <% else %>
    <% end %>
    <%= yield %>
    </div>
  </div>


</body>
</html>
